.user__avatar {
  width: 160px;
  height: 160px;
}

.comment__author-avatar {
  width: 78px;
  height: 78px;
}

.avatar {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  object-fit: cover;
}
