.navigation__menu {
  display: flex;

  @include tablets {
    flex-wrap: wrap;
  }
}

.navigation__item {
  margin-right: 60px;

  @include desktop {
    margin-right: 5vw;
  }

  @include tablets {
    margin-right: 13%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  font-family: "open-sans-regular";
  font-size: 16px;
  white-space: nowrap;
}
