.navigation__menu {
  display: flex;
}

.navigation__item {
  margin-right: 48px;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  font-size: 12.8px;
  color: #ffffff;
  white-space: nowrap;
}
