.skill {
  position: relative;
}

.skills__item {
  width: 145px;
}

.skill__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14.4px;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.5;
}
