.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user__avatar {
  margin-bottom: 45px;
}

.user__data-table {
  font-family: "open-sans-sebo";
  font-size: 12.8px;
}

.user__data-cell {
  padding: 10px 0 5px 30px;

  &:first-child {
    opacity: 0.5;
  }

  &:last-child {
    font-family: "open-sans-sebo";
    color: #ffffff;
  }
}
