.works {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__container {
  margin: 0 10%;
  width: 83%;
}

.works__title {
  font-size: 28.8px;
  margin-bottom: 40px;
}
