.works {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__container {
  margin: 0 10%;
  max-width: 1100px;
}

.works__title {
  font-family: "open-sans-bo";
  font-size: 28.8px;
  color: #333c49;
  margin-bottom: 60px;
}
