section.about
  .container.about__container
    .about__data
      .user
        .user__avatar
          .avatar
            +image('content/userfiles/user.jpg', 'user-pic', 'avatar-image')
        .user__info
          -
            var rows = [
              ["Проживаю:", "Краснотурьинск"],
              ["Возраст:", "29 лет"],
              ["Родился:", "9 октября 1990"]
            ];

          table.user__data
            table.user__data-table
              each row in rows
                tr.user__data-row
                  each cell in row
                    td.user__data-cell #{cell}
    .about__desc
      .about__greeting
        p Привет, меня зовут
        .about__username Дмитрий Чижов
        p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      .about__postscript
        | Этот сайт я сделал в рамках обучения в Школе онлайн образования
        | LoftSchool. Чуть позже я освежу в нём свой контент. А пока
        | посмотрите, как тут всё классно и красиво!