footer.footer
  .container.footer__container
    .footer__title-block
      .copyright © 2019
      .footer__title
        .footer__dev-name
          | Дмитрий
          br
          | Чижов
        .footer__dev-text
          | Личный сайт
          br
          | веб-разработчика
    .footer__main-block
      .footer__menu
        - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
        nav.navigation
          ul.navigation__menu
            each item in menu
              li.navigation__item
                a.navigation__link #{item}
      .footer__desc-wrapper
        .footer__desc-social-block
          .footer__desc
            | Этот сайт я сделал в рамках обучения в Школе онлайн образования
            | Loftschool
          .footer__social
            include ./socials
        .footer__proverb
          .footer__proverb-text
            | Всегда пишите код так, будто сопровождать его будет склонный к
            | насилию психопат, который знает где вы живете
          .footer__proverb-author Martin Golding