nav.hamburger-menu
  //- input#checkbox.hamburger-menu__checkbox(type='checkbox')
  button(type='button').hamburger-menu__btn
    .hamburger-menu__icon
  .hamburger-menu__container
    ul.hamburger-menu__list
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='1') Главная
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='2') Обо мне
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='3') Навыки
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='4') Работы
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='5') Отзывы
      li.hamburger-menu__item
        a.hamburger-menu__link(href='#', data-scroll-to='7') Связаться
    .hamburger-menu__socials
      include ./socials