section.wellcome
  .container.wellcome__container
    header.wellcome__header
      .wellcome__logo
        .logo ДЧ
      .wellcome__menu
        - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
        nav.navigation
          ul.navigation__menu
            each item in menu
              li.navigation__item
                a.navigation__link #{item}
      .wellcome__links
        include ./socials
      .wellcome__hamburger-menu
        include ./hamburger-menu
    .wellcome__content
      .wellcome__title
        | Личный сайт
        br
        | веб разработчика
      h1.wellcome__dev-name
        | Дмитрий
        br
        | Чижов
    .wellcome__scroll-btn
      a.scroll-btn Скролл
        +icon('scroll', 'scroll-icon')